<img src="lbnl_logo.jpg">

----




# Challenge Lab, Day 1



---

In [2]:
import pandas as pd
import numpy as np

## Weather Data

Import "weather_data_2021.csv" and save it to a variable name so that we can use it throughout the notebook!

In [3]:
# EXERCISE

weather = ...
weather.tail()

,Unnamed: 0,oat,humidity,windspeed,cloudcover,solar,sr
11278,2021-04-28 11:30:00,64.36,62.0,4.45,0.11,507.167139,507.167139
11279,2021-04-28 11:45:00,64.96,60.0,4.68,0.11,517.400710,517.400710
11280,2021-04-28 12:00:00,65.16,60.0,4.83,0.12,522.632481,522.632481
11281,2021-04-28 12:15:00,65.23,60.0,4.98,0.13,525.687960,525.687960
11282,2021-04-28 12:30:00,65.39,60.0,5.01,0.14,526.211187,526.211187

Do some EDA! What do you think that the column "Unnamed: 0" represents? Do you think you know what any of the columns mean? How many rows and columns are there? Come up with some questions that we can discuss!

In [35]:
#Do your Exploratory Data Analysis in this cell! :)

...

Looking at the table, some of the tables are hard to understand. Lets rename some of the columns in the table. 
The syntax for renaming columns is: dataframe.rename(columns = {"current column name": "new column name", ....})

In the cell below, we will rename "Unnamed: 0" into a "Timestamp".

Follow the same pattern to rename "oat" to "outdoor air temperature" and "solar" as "solar irradiance (watts/m^2)".

In [5]:
# EXERCISE

#rename your columns!
weather = weather.rename(columns = {"Unnamed: 0": "Timestamp", 
                         ..., 
                         ...}) 
weather.head()

,Timestamp,outdoor air temperature (F),humidity,windspeed,cloudcover,solar irradiance on PV panels (Watt per m^2),sr
0,2021-01-01 00:00:00,43.56,98.0,2.87,0.37,0.0,0.0
1,2021-01-01 00:15:00,43.41,98.0,2.93,0.38,0.0,0.0
2,2021-01-01 00:30:00,43.28,98.0,2.98,0.41,0.0,0.0
3,2021-01-01 00:45:00,43.35,98.0,3.00,0.44,0.0,0.0
4,2021-01-01 01:00:00,43.47,98.0,2.97,0.50,0.0,0.0

The last thing we need to do is get rid of unnecessary information! If you look at the table, "solar irradiance on PV panels (Watt per m^2)" and "sr" have the same information. 

Being a data scientist required you to look up coding syntax! Look up how to delete columns in Pandas and delete the "sr" column! There are multiple ways to do this! Get ready to share how you did it.

In [6]:
# EXERCISE

#delete the column below!
weather = weather.drop(["sr"], axis = 1) #SOLUTION
weather.head()

,Timestamp,outdoor air temperature (F),humidity,windspeed,cloudcover,solar irradiance on PV panels (Watt per m^2)
0,2021-01-01 00:00:00,43.56,98.0,2.87,0.37,0.0
1,2021-01-01 00:15:00,43.41,98.0,2.93,0.38,0.0
2,2021-01-01 00:30:00,43.28,98.0,2.98,0.41,0.0
3,2021-01-01 00:45:00,43.35,98.0,3.00,0.44,0.0
4,2021-01-01 01:00:00,43.47,98.0,2.97,0.50,0.0

Use the skills we learned in our class to find the count of null values in each of the columns in the weather dataframe. Do you think this will be an issue? Why or why not?

In [7]:
# EXERCISE

#Find the count of null values

weather...

Timestamp                                          0
outdoor air temperature (F)                     1705
humidity                                        1705
windspeed                                       1705
cloudcover                                      1705
solar irradiance on PV panels (Watt per m^2)    1705
dtype: int64

## Power data

Import "power_2021.csv" and save it to a variable name so that we can use it throughout the notebook!

In [9]:
# EXERCISE

power_data = ...
power_data.head()

,Unnamed: 0,building,freezer,ref_comp,ref_fan,hvac_west,hvac_east
0,2021-01-01 00:00:00,32533.332031,4083.540039,11.914492,43.354057,304.049896,944.930481
1,2021-01-01 00:01:00,36656.937500,3770.058350,4248.507324,248.749298,304.752869,950.882324
2,2021-01-01 00:02:00,32910.871094,3835.689209,16.447287,455.978119,304.320740,952.724670
3,2021-01-01 00:03:00,NaN,NaN,14.377525,253.222122,NaN,NaN
4,2021-01-01 00:04:00,32478.332031,3964.204102,NaN,NaN,304.013855,954.450806

Do some EDA! What do you think that the column "Unnamed: 0" represents? Do you think you know what any of the columns mean? How many rows and columns are there?

In [10]:
# EXERCISE
#Do your Exploratory Data Analysis in this cell! :)

...

Ellipsis

Looking at the table, some of the tables are hard to understand. Lets rename some of the columns in the table. Do the same thing you did for the weather dataframe. 

In the cell below, rename Unnamed: 0 to what you think it represents.

Rename "building" to "building total power consumption (watts)"

Rename "freezer" to "freezer power consumption (watts)"

Rename "ref_comp" to "refrigerator power consumption (watts)"

Rename "ref_fan" to "refrigerator fan power consumption (watts)"

Rename "hvac_west" to "west air conditioning power consumption (watts)"

Rename "hvac_east" to "east air conditioning power consumption (watts)"

In [11]:
# EXERCISE

#rename your columns here

power_data= power_data.rename(columns = {"Unnamed: 0": "Timestamp", 
                             ..., 
                             ..., 
                             ..., 
                             ..., 
                             ..., 
                             ... 
                            })
power_data.head()

,Timestamp,building total power consumption (Watts),freezer power consumption (Watts),refrigerator power consumption (Watts),refrigerator fan power consumption (Watts),west air conditioning power consumption (Watts),east air conditioning power consumption (Watts)
0,2021-01-01 00:00:00,32533.332031,4083.540039,11.914492,43.354057,304.049896,944.930481
1,2021-01-01 00:01:00,36656.937500,3770.058350,4248.507324,248.749298,304.752869,950.882324
2,2021-01-01 00:02:00,32910.871094,3835.689209,16.447287,455.978119,304.320740,952.724670
3,2021-01-01 00:03:00,NaN,NaN,14.377525,253.222122,NaN,NaN
4,2021-01-01 00:04:00,32478.332031,3964.204102,NaN,NaN,304.013855,954.450806

Use the skills we learned in our class to find the count of null values in each of the columns in the power dataframe. Do you think this will be an issue? Why or why not?

In [12]:
# EXERCISE

#look at the null values here

...

Timestamp                                              0
building total power consumption (Watts)           47915
freezer power consumption (Watts)                  47916
refrigerator power consumption (Watts)             47916
refrigerator fan power consumption (Watts)         47917
west air conditioning power consumption (Watts)    47917
east air conditioning power consumption (Watts)    47915
dtype: int64

## Merging Data

In data science, we do not usually just use one dataframe. We often have multiple datasets that we want to use to analyze data! So in order to do this, we need to merge the datasets together. To merge data, we need to find a column to merge on.

The syntax for merging data tables is: dataframe1.merge(dataframe2, on= "column name that the two dataframes have in common")

What column name do both the dataframes have in common? Keep that in mind for how you merge the table?

In [16]:
# EXAMPLE

#Merged the two dataframes together
weather_and_power = weather.merge(power_data, on="Timestamp")

In [30]:
weather_and_power.head()

,Timestamp,outdoor air temperature (F),humidity,windspeed,cloudcover,solar irradiance on PV panels (Watt per m^2),building total power consumption (Watts),freezer power consumption (Watts),refrigerator power consumption (Watts),refrigerator fan power consumption (Watts),west air conditioning power consumption (Watts),east air conditioning power consumption (Watts),total energy consumption,Better Timestamp,date,time,month,12-hr-time
0,2021-01-01 00:00:00,43.56,98.0,2.87,0.37,0.0,32533.332031,4083.540039,11.914492,43.354057,304.049896,944.930481,37921.120996,2021-01-01 00:00:00,2021-01-01,00:00:00,1,12:00am
1,2021-01-01 00:15:00,43.41,98.0,2.93,0.38,0.0,30975.056641,3969.495605,14.195988,43.110699,304.558319,958.440125,36264.857376,2021-01-01 00:15:00,2021-01-01,00:15:00,1,12:15am
2,2021-01-01 00:30:00,43.28,98.0,2.98,0.41,0.0,31915.005859,3835.891602,12.848112,253.175949,304.966461,1015.086365,37336.974348,2021-01-01 00:30:00,2021-01-01,00:30:00,1,12:30am
3,2021-01-01 00:45:00,43.35,98.0,3.00,0.44,0.0,30087.257812,357.424866,10.164385,43.093910,302.546539,957.893921,31758.381433,2021-01-01 00:45:00,2021-01-01,00:45:00,1,12:45am
4,2021-01-01 01:00:00,43.47,98.0,2.97,0.50,0.0,29074.365234,3796.636475,9.275864,42.858944,NaN,NaN,NaN,2021-01-01 01:00:00,2021-01-01,01:00:00,1,01:00am

Add a column in the weather_and_power dataframe called "total energy" that is the sum of power consumption columns.  

**Note:** Make sure you use the full name of the column, otherwise you will get an error. You can also use column numbers instead.

In [20]:
# EXERCISE
# add your column

weather_and_power["total energy consumption"] = (weather_and_power["building total power consumption (Watts)"]+
                                                 weather_and_power["freezer power consumption (Watts)"]+ 
                                                 ...+ 
                                                 ...+ 
                                                 ...+ 
                                                 ...)

## Using Python with Datetime Data

In this section, we are going to want to look at how we can use datetime methods to clean up our datatable and make it a bit easier to understand!

In [21]:
# EXAMPLE

# import the datetime module!
from datetime import datetime

In [23]:
# EXAMPLE

# Run this cell multiple times! Isn't it cool!
now = datetime.now()

current_time = now.strftime("%H:%M:%S") ##Formatting the time as "Hour:Minutes:Seconds"
print("Current Time =", current_time)
current_date = now.strftime("%d/%m/%y")
print("Current Date =", current_date)
print("Current Month =", now.day)

Current Time = 12:05:53
Current Date = 18/07/21
Current Month = 18

In [62]:
# EXERCISE

# Type your birthday below in this format

birthday = "yyyy-mm-dd" 

# Convert your birthday to datetime using its *strptime* function

birthday_dt = datetime.strptime(birthday, '%Y-%m-%d')
birthday_dt

datetime.datetime(2000, 8, 22, 0, 0)

In [63]:
# EXERCISE

# In this cell, print your birthday month then birthday day

print("Birthday month is", birthday_dt.month) 
print("Birthday day is", ...)

Birthday month is 8
Birthday day is 22

The values of the Timestamp column represent dates and times of when the data for each section of the building was collected. However, since the data type of the column is a `str()`, it will be harder to access information like the date and time to answer what day of the week most energy was used, what hour had the least energy consumption, etc. So first, we will need to convert it to a correct data type.

In [24]:
# EXAMPLE

weather_and_power["Better Timestamp"] = pd.to_datetime(weather_and_power["Timestamp"])

In [27]:
# EXAMPLE

# Run this cell to get the date and time in two seperate columns!
weather_and_power["date"] = [d.date() for d in weather_and_power['Better Timestamp']]
weather_and_power["time"] = weather_and_power['Better Timestamp'].apply(lambda x: x.time())
weather_and_power["month"] = pd.DatetimeIndex(weather_and_power['date']).month

#converting 24-hour clock time to 12-hour time
def changeformat(time):
    if time.hour > 12:
        newtime = str(time.hour - 12) + (str(time))[2:5] + "pm"
        return newtime
    if time.hour == 12:
        newtime = (str(time))[:5] + "pm"
        return newtime
    if time.hour == 0:
        newtime = "12" + (str(time))[2:5] + "am"
        return newtime
    if type(time) != str:
        newtime = (str(time))[:5] + "am"
        return newtime
weather_and_power["12-hr-time"] = weather_and_power["time"].apply(changeformat)

Let's see what our column looks like now.

In [29]:
# EXAMPLE

weather_and_power[["12-hr-time"]].head()

  12-hr-time
0    12:00am
1    12:15am
2    12:30am
3    12:45am
4    01:00am

Lets save our data table. Save it as "weather_and_power.csv"
The syntax for saving a table is datatable.to_csv("name you want"). Now we can use the data we cleaned in tomorrow's analysis.

In [26]:
# EXERCISE

#save it here 

...

Notebook developed by: Rachel McCarty <br/>
Edited by: Kseniya Usovich