<img src="lbnl_logo.jpg">

----



# DataFrames (Cont'd)



---

### Table of Contents

1 - [Manipulating Columns ](#section1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 - [Indexing &  Slicing in Pandas](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 - [Uniqueness](#subsection2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.3 - [Frequencies](#subsection3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.4 - [Sorting](#subsection4)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.5 - [Min, Max, Range](#subsection5)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.6 - [Missing Values](#subsection6)<br>


2 - [Booleans & Boolean Indexing](#section2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1 - [Booleans](#subsection7)<br>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2 - [Boolean Indexing](#subsection8)<br>

---
## Data Frames

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib as plt

Let's begin by reading a new data set called "netflix_shows". We will use `pd.read_csv` just as we did before.

In [ ]:
netflix = pd.read_csv('netflix_shows.csv')

In [ ]:
netflix

## Manipulating Columns
 <a id='Section1'></a>

### 1.1 Indexing &  Slicing  <a id='subsection1'></a>

There are two main ways of indexing through DataFrames. We can still use our old friend, the square brackets [ : ], or we can use it with the help of two functions: **loc** and **iloc**.

**loc**: uses names or labels of rows and columns.
**iloc**: uses indices of rows and columns. You can think of *iloc* as *index-loc*.


#### .loc[rows-label(s), columns-label(s)]
`.loc` Helps us view and index our DataFrame. 
* It works with string labels. Notice that most of the times you will have specific column names, but our row names often come as a number. Hence the label of the rows will be a number.   
* It can take 
    * one label __(df.loc[row-label, 'col-label-1'])__
    * a list of labels __(df.loc[[row-label 1, row-label-2, row-label-4],['col-label-1',  'col-label-2', 'col-label-4']])__
    * or a _slice_ of labels __(df.loc[row label-50 : row-label-100,'col-label-1': 'col-label-8'])__

We can still iterate through our DataFrame (aka table) with square brackets, by identifying the cokumn name.

In [ ]:
# EXAMPLE

netflix["title"]

So why would we want to opt out of this option and switch to `loc` and `iloc`? There are a few reasons for that, and the main being compute time. With the examples we use in this notebook, it will be impossible to notice the difference, but once we get to DataFrames with hundreds of thousands or millions of values, this will become important! 

On a climate care note, increased compute time leads to increased electricity and data server use, which contributes to climate change! And that's part of the reason we need to consider compute time. So let's dive into learning how to use our helpers `loc` and `iloc` to be more climate conscious.

#### Rows

Let's use loc to see what are the values in row 10 in our DataFrame.

In [ ]:
# EXAMPLE

netflix.loc[10]

* Notice that if our rows were labeled with textual information, we would have to use that name instead of "10". In this case the label for the 10th row is indeed 10.

What if we want to see what are the values in row 5, 10, and 15? Let's pass 5,10, 15 into `loc` as a list of values.

In [ ]:
# EXAMPLE

netflix.loc[[5,10,15]]

This returned a `DataFrame` whereas the first returned a `series`. This is because on this one we selected a range of values.

How would you use loc to see what are the values of rows 10-20? Yes, you can use a list like in the example above, but it can be quite cumbersome to have to type each number from 10 - 20. There is a better way, and this is slicing, just like we did with arrays and lists.

In [ ]:
# EXERCISE

...

#### Columns 

Great! Now that you know how to index rows, let's see how we can index columns. Don't forget that we are still using `loc`, so we will have to use column labels.

Let's begin by indexing by one column, title. Let's output all rows for this column.

In [ ]:
# EXAMPLE

netflix.loc[:,'title']

Another way to index by only one column is by adding the column label in a list.

In [ ]:
# EXAMPLE

netflix.loc[:,['title']]

Do you notice the difference in output? The first output returned a `series` (another type of a data structure), and the second returned a one-column `DataFrame` because we passed a list.

Notice that here we had to specify the range of rows that we want to index that column by. We used `:` in order to return all values in the column.

Now, let's index by more than one column. Just as before we will use a list containing our desired column labels.

In [ ]:
# EXAMPLE

netflix.loc[:,['title', 'release year','user rating score']]

Just as we sliced rows, we can do the same with column. In the cell below, return all rows for columns *name* through *sodium* (inclusive of the last column).

In [ ]:
# EXERCISE

...

#### .iloc[rows_index, columns_index]

Another way to index is using `.iloc`. As was mentioned above, `iloc` allows us to index using integer positions, instead of names and values of our rows and columns.

#### Rows

In [ ]:
# EXAMPLE

netflix.iloc[[1,3,6,8,9]]

Recall the __start:stop:step__ from lists? Well we can also select a range of rows with a specified step value in our data DataFrame. In here we will take every 5th element from the 50th row to the 150th row.

In [ ]:
# EXAMPLE

netflix.iloc[50:150:5]

#### Columns

As we mentioned before `iloc` works just as `loc`, but instead of using labels we use the index. Let's get all the rows in the fifth column. Don't forget that we are starting at the 0th index.

In [ ]:
# EXAMPLE

netflix.iloc[:,4]

How would you prompt it to return a one-column `DataFrame` (aka table) instead of a `series`?

In [ ]:
# EXERCISE

...

### 1.2 Uniqueness  <a id='subsection2'></a>

In the examples below, we will be using a different DataFrame, cereal, so let's import it first. You can learn more about this data [here](https://www.kaggle.com/crawford/80-cereals)

In most of our examples we will be using **[ : ]** because the cereal DataFrame is small. But feel free to practice using **loc** or **iloc** instead.

In [ ]:
# EXERCISE

# use Pandas to import cereal.csv as a DataFrame

cereal = ...
cereal.head()

Suppose that we want to find out the number of unique manufacturers in our data. The `.unique()` method allows us to check this. 

There are two ways to accomplish this, one is using the "dot" notation, and the other using brackets. For the most part, we will stick to the second method as it can be easy to run into errors.

__df.column_label.unique( )__

__df['column_label'].unique( )__

In [ ]:
# EXAMPLE

print('There are ',cereal['mfr'].nunique() ,'unique manufactureres')
print('These are: ', cereal['mfr'].unique())

Notice that we used the method `.nunique()` to tell us how _many_ unique items we have rather which items. An alternative way to compute this is __len(cereal['mfr'].nunique())__.

In the cell below, figure out how many unique amounts of protein levels (per serving) there are, as well as output these numbers.

In [ ]:
# EXERCISE

print('There are ', ...) 
print('These are: ', ...)

### 1.3 Frequencies  <a id='subsection3'></a>

More specifically, say we want to know how many cereals exist per manufacturers. In this case, we would like to use the `.value_counts()` method instead. This method returns the counts for the unique values in our column.

In [ ]:
# EXAMPLE

cereal['mfr'].value_counts()

Now let's try to find out how many cereals rows we have per each sugar level.

In [ ]:
# EXERCISE


cereal['sugars'].value_counts() #SOLUTION

Notice the **-1** value for sugars? Can there be a negative sugar level? Think of what this might be representing, we will get back to it later in the notebook.

### 1.4 Sorting  <a id='subsection4'></a>

Notice that this method sorts our values in decreasing order? What if you had an alternative sorting that you wanted to use? Maybe you want to sort by index, that is, by alphabetical order. In this case you would want to use the `sort_index()` method as seen below.

In [ ]:
# EXAMPLE

cereal['mfr'].value_counts().sort_index()

If instead you wanted to sort by counts, but in ascending (from smallest to largest) order, you can use the `.sort_values()` method instead with the argument __ascending = True__.

In [ ]:
# EXAMPLE

cereal['mfr'].value_counts().sort_values(ascending=True)

In the cell below, let's output cereal protein levels sortex by index (in this case, the protein level).

In [ ]:
# EXERCISE

...

How would you do that with `loc`? Remember, `loc` uses rows as the first argument.

In [ ]:
# EXERCISE

...

### 1.5 Mix, Max, Range  <a id='subsection5'></a>

Say that for our analysis we want to understand our cereals by the rating feature.

A good starting point might be to see what the __min__ and the __max__ are for our data. We can do this by using the functions `.min()` and `.max()` respectably.

In [ ]:
# EXAMPLE

print('Min rating is :',cereal['rating'].min())
print('Max rating is :',cereal['rating'].max())

To get the range, all you need to do is subtract the min from the max! Let's do this in the cell below:

In [ ]:
# EXERCISE

cereal_rating_max = ...
cereal_rating_min = ...
rating_range = ...

print("The range is ", rating_range)

Bonus: Use the function `round` to round these two numbers to one decimal place.

In [ ]:
# EXERCISE

print("The range rounded to one decimal place is ", round(..., ...))

### 1.6 Missing Values  <a id='subsection6'></a>

A common problem that you will come across when analyzing data is __missing__ data. You can check if you data set contains by using the function `.isnull()`. This function returns True whenever a values is missing (Null, NaN) and False whenever it is not. We can combine this function with `.sum()` to add up all the values that are True  & False.

** In Python (as in most programming languages), True is represented by 1, and False by 0. So using the `sum` function allows us to treat these True/False as numerical values.

In [ ]:
# EXAMPLE

cereal.isnull().sum()

Notice that for the example above we checked for the number of missing values in each of the columns? What if you only wanted to do it for one? You can use the same methods we discuss prior, that is bracket and dot notation.

In [ ]:
# EXAMPLE

cereal['rating'].isnull().sum()

However, **Null** and **NaN** are not the only ways to represent missing value. Sometimes, they can appear as 999 (commonly used in census or other data involving humans) or even -1. Remember, in one of the examples above (section on Sorting) we have found a negative value for sugar level per serving? Now we know what it meant. Most likely, there was no data available for this cereal. 


Why do you think the manufacturer did not simply input 0?

### 1.7 GroupBy <a id='subsection7'></a>

Now, say that we want to find the average amount of calories for the cereals per manufacturer. We can use an operation called `.groupby()`. `.groupby()` involves a combination of splitting an object (a series or column), applying a function (for example `.sum()`,`.mean()`, or `.count()`), and combining the results.

In [ ]:
# EXAMPLE

cereal.groupby("mfr")['calories'].mean()

Let's break down what happened above. We begin with a DataFrame (`cereal`) and tell pandas (our library) to group by a column (`mfr`). Then we need to specify what column (`calories`) we want to operate our desired operation (`mean`) on.

In the cell below, let's see what is the maximum amount of sugar level per each manufacturer.

In [ ]:
# EXERCISE

...

You can also group by more than one column! You just need to add the columns in a list. 

For instance, let's get the number of cereals by type and  manufacturer.

In [ ]:
# EXAMPLE

cereal.groupby(["type", "mfr"])['name'].count()

The outcome from the groupby above resulted in a `Series`. If instead you would like to return your data as a `DataFrame` we have to use an additional brackets around the column that we are calling the action on, on this case `name`.

In [ ]:
# EXAMPLE

cereal.groupby(["type", "mfr"])[['name']].count()

In the cell below, let's use the same grouping (type and manufacturer), but instead check the max amount of calories per serving (per manfacturer per type).

In [ ]:
# EXERCISE 

...

Let's now check what is the max amount of sugar per each type of serving size (**cups**) per manufacturer.

In [ ]:
# EXERCISE 

...

Have you moticed that almost all manufacturers use different serving sizes within one company. Can you think of why that can be beneficial sometimes?

## Booleans
 <a id='section2'></a>

### 2.1 Boolean Indexing <a id='subsection8'></a>

Suppose we only want to look at the cereals that behave less than 100 calories. We will use __boolean indexing__ to create a DataFrame that meets this criteria. 

Boolean indexing allows us to define what kind of data we want to output. We can only select rows that correspond to a specific brand or choose the ones that have below a select number of calories.

We will accomplish this by:
1. Selecting the `calories` column from the DataFrame. 
2. Now we will create an array of Booleans where each value is True if and only if the value in the calories is less than 100, otherwise it will return False. You will have to use a boolean operator such as <,>, <=,>=, ==, !=, etc. on the column. 
3. Use the

For example, if I wanted to see which cereals are manufactured by Quaker Oats, I can choose only the rows corresponding to it with boolean indexing.

In [ ]:
# EXAMPLE

cereal[cereal['mfr'] == "Q"]

If I wanted to have a limited amount of calories, I can specify that as well.

In [ ]:
# EXAMPLE

cereal[cereal['calories'] < 100]

Now let's find only the cereals that have a rating above 60.

In [ ]:
# EXERCISE

...

How many cereals can you find with this rating?

**Hint:** you can use our old friend `len()`.

In [ ]:
# EXERCISE

...

Remember, however, that just finding out the amount of calories is not enough, as sometimes companies use varied serving sizes. To account for that, we can pass two or more boolean indeces and use `&` to unite them. 

**Note**: if we want to use two or more specifications, we need to pass each of the in a separate set of parentheses. The structure should look like this:

`dataframe[(argument 1) & (argument 2)]`

In [ ]:
# EXAMPLE

cereal[((cereal['calories']) < 100) & ((cereal['cups']) < 1.0)]

In the cell below, let's output all the rows for Kellog (**"K"**), where the ratings for their cereals were above 50.

In [ ]:
# EXERCISE

cereal[((...) ...) & ((...) ...)]

In the cell below, try to only output names of these cereals (from the exercise above), ignoring the rest of the table. 

**Hint:** the syntax after boolean indexing will be very similar to what we used in `groupby()`.

In [ ]:
# CHALLENGE EXERCISE

cereal[((...)...) & ((...))][...]

---
Notebook developed by: Kseniya Usovich & Karla Palos